@charset "utf-8";

html {
    overflow-y: scroll; 
    overflow-x: hidden;
}

html {
    margin: 0;
    padding:0; 
    font-size: 14px; 
    line-height: 1.6em; 
    font-family: "Open Sans", "Geneva", sans-serif;
}

body {
    width: 60%;
    margin: auto;
    background-color: rgba(118, 82, 135, 1); /* rgba(208, 154, 61, 0.40) */
}

.wrapper {
    display: block;
    width: 100%;
}

.black {
    background-color: #000000;
}

.row0 {
    color: #FFFFFF;
    background-color: #313131;
}

#topbar {
    padding: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 14px;
    text-transform: uppercase;
}

.fa-google-plus,
.fa-skype {
    margin-right: 5px;
}

.hoc {
    display: block;
    margin: 0 auto;
}

.row1 {
    text-align: center;
    background-color: #ffffff;
}

#header {
    display: inline-block;
    position: relative;
    min-height: 55px;
    margin-top: 15px;
    padding: 0 0 12px 0;
}

.nav_bar li {
    display: inline-block;
    margin-right: 60px;
    font-size: 24px;
}

.top_link {
    font-size: 16px;
    text-transform: none;
    color: black;
}

#pageintro {
    padding: 150px 0;
    position: relative;
}

.overlay {
    width: 460px;
    height: 140px;
    background-color: rgba(171, 92, 92, 0.55);
    display: table;
    text-align: center;
    margin-left: 80px;
    line-height: 20px;
 }

.overlay p {
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;

}

a {
   color: #DFA94F;
   text-decoration: none;
}

.education_container,
.work_container, 
.skills_container {
    text-align: center;
}

.container p {
    font-size: 20px;
}

.mark {
    background-color: rgba(208, 154, 61, 0.69);
    opacity: 0.7;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.title {
    color: black;
    font-size: 26px;
    margin-bottom: 35px;
 }

li {
    list-style-type: none;
    font-size: 14px;
}


.row5 {
    color: #333333;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    body{width:100%;min-height: 100vh;}
    .nav_bar{padding-left:15px;}
    .nav_bar li {font-size:12px;margin-right:10px;}
    .row0{position:relative;}
    .overlay{width:220px;height:120px;position:absolute;margin-left:0;top:45px;left:30px;line-height:16px;}
    .overlay p{padding-top:0;padding-bottom:5px;font-size:14px;}
    .push_btn{display:block;width:100px;height:20px;margin-left:0;position:absolute;top:170px;left:30px;padding-right:30px;text-align:center;line-height:20px;}
    .push_btn a {padding-right:0;font-size:11px;}
    .title{font-size:16px;}
    .mark{font-size:14px;}
    .container{margin-right:30px;}
    .container p{font-size:13px;}
}

@media screen and (max-width: 320px) {
    body {width:100%;min-height:100vh;}
    .nav_bar {padding-left:15px;}
    .nav_bar li {font-size:12px;margin-right:10px;}
    .row0{position:relative;}
    .overlay{width:220px;height:120px;position:absolute;margin-left:0;top:45px;left:30px;line-height:16px;}
    .overlay p{padding-top:0;padding-bottom:5px;font-size:14px;}
    .push_btn{display:block;width:100px;height:20px;margin-left:0;position:absolute;top:170px;left:30px;padding-right:30px;text-align:center;line-height:20px;}
    .push_btn a {padding-right:0;font-size:11px;}
    .title{font-size:16px;}
    .mark{font-size:14px;}
    .container{margin-right:30px;}
    .container p{font-size:13px;}
}


